@import 'colors/catppuccin.scss';
.theme_picker {
    background: rgba($surface0,.7);
    color: $text;
    border-radius: 30px;
    margin: 20px;
}

.theme_list {
    background: rgba($surface0, .0)
}

.theme_preview {
    color: white;
    background-size: contain;
}
